html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  color: #fff;
  font-family: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
}

h1 {
  font-family: 'Raleway', 'Helvetica', 'Arial', sans-serif;
  font-size: 8em;
  font-weight: 800;
  line-height: .8em;
  -webkit-margin-after: 0px;
  -webkit-margin-before: 0px;
}

h2 {
  font-size: 1.8em;
  font-weight: 300;
  margin: 5px 0;
}

h1, h2 {
  text-shadow: rgba(0, 0, 0, .2) 0px 2px 3px;
}

.container {
  background: linear-gradient(316deg, #ffdf79, #ed747f, #e371d4, #8d5993, #9771e3);
  background-size: 600% 600%;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: relative;

  -webkit-animation: gradientShift 18s ease infinite;
  -moz-animation: gradientShift 18s ease infinite;
  animation: gradientShift 18s ease infinite;
}

.header {
  max-width: 600px;
}

.icons {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.icons svg {
  fill: #fff;
  -webkit-filter: drop-shadow(0px 2px 2px rgba(0,0,0,.1));
  -moz-filter: drop-shadow(0px 2px 2px rgba(0,0,0,.1));
  filter: drop-shadow(0px 2px 2px rgba(0,0,0,.1));
  margin: 10px;
  width: 60px;
}

.icons svg:hover {
  -ms-transform: translate(0px,-10px); /* IE 9 */
  -webkit-transform: translate(0px,-10px); /* Safari */
  transform: translate(0px,-10px);
  -webkit-transition: transform .5s; /* Safari */
  transition: transform .5s;
}

#content {
  max-width: 600px;
  opacity: 0;
  visibility: hidden;
}

@-webkit-keyframes gradientShift {
  0%{background-position:24% 0%}
  50%{background-position:77% 100%}
  100%{background-position:24% 0%}
}
@-moz-keyframes gradientShift {
  0%{background-position:24% 0%}
  50%{background-position:77% 100%}
  100%{background-position:24% 0%}
}
@keyframes gradientShift {
  0%{background-position:24% 0%}
  50%{background-position:77% 100%}
  100%{background-position:24% 0%}
}
