html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #9771e3;
  color: #fff;
  font-family: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
  overflow: hidden;
}

::selection {
    background-color: #9771e3;
    color: #ffdf79;
    text-shadow: none;
}
::-moz-selection {
    background-color: #9771e3;
    color: #ffdf79;
}

h1 {
  font-family: 'Raleway', 'Helvetica', 'Arial', sans-serif;
  font-size: 8em;
  font-weight: 800;
  line-height: .8em;
  margin: 0;
  -webkit-margin-after: 0;
  -webkit-margin-before: 0;
}

h2 {
  font-size: 1.8em;
  font-weight: 300;
  margin: 5px 0;
}

h1, h2 {
  text-shadow: rgba(0, 0, 0, .2) 0 2px 3px;
}

a {
  color: white;
}

.container {
  background: linear-gradient(316deg, #ffdf79, #ed747f, #e371d4, #8d5993, #9771e3);
  background-size: 600% 600%;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: relative;

  -webkit-animation: gradientShift 18s ease infinite;
  -moz-animation: gradientShift 18s ease infinite;
  animation: gradientShift 18s ease infinite;
}

.header {
  max-width: 600px;
}

.icons {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.icons svg {
  fill: #fff;
  -webkit-filter: drop-shadow(0px 2px 2px rgba(0,0,0,.1));
  -moz-filter: drop-shadow(0px 2px 2px rgba(0,0,0,.1));
  filter: drop-shadow(0px 2px 2px rgba(0,0,0,.1));
  margin: 10px;
  width: 60px;

  -webkit-tap-highlight-color: rgba(255,255,255,.1);
}

.icons svg:hover {
  cursor: pointer;

  -ms-transform: translate(0px,-10px);
  -moz-transform: translate(0px,-10px);
  -webkit-transform: translate(0px,-10px);
  transform: translate(0px,-10px);
  -webkit-transition: transform .5s;
  transition: transform .5s;
}

.content {
  display: none;
  max-width: 600px;
}

@media(max-width: 768px) {
  h1 {
    font-size: 5em;
  }
  h2 {
    font-size: 1em;
    margin: 15px 0;
  }
  a {
    text-decoration: none;
  }
  .container {
    padding: 20px;
    text-align: center;
  }
  .content, .header {
    max-width: 100%;
  }
  .icons {
    justify-content: center;
  }
  .icons svg {
    width: 80px;
  }
  .icons svg:hover {
    transform: none;
  }
}

@media(max-width: 768px) {
  .ellipsis {
    display: none;
  }
}

/* animations */
@-webkit-keyframes gradientShift {
  0%{background-position:24% 0;}
  50%{background-position:77% 100%;}
  100%{background-position:24% 0;}
}
@-moz-keyframes gradientShift {
  0%{background-position:24% 0;}
  50%{background-position:77% 100%;}
  100%{background-position:24% 0;}
}
@keyframes gradientShift {
  0%{background-position:24% 0;}
  50%{background-position:77% 100%;}
  100%{background-position:24% 0;}
}
