html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  color: #fff;
  font-family: 'Raleway', 'Helvetica', 'Arial', sans-serif;
}

.container {
  background: linear-gradient(316deg, #ffdf79, #e371d4, #9771e3);
  background-size: 600% 600%;
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;

  -webkit-animation: gradientShift 10s ease infinite;
  -moz-animation: gradientShift 10s ease infinite;
  animation: gradientShift 10s ease infinite;
}

.header {
  max-width: 50%;
}

.icons {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.icons svg {
  fill: #fff;
  -webkit-filter: drop-shadow( 3px 3px 5px rgba(0,0,0,.1) );
  filter: drop-shadow( 3px 3px 5px rgba(0,0,0,.1) );
  margin: 10px;
  width: 60px;
}

.icons svg:hover {
  -ms-transform: translate(0px, -10px); /* IE 9 */
  -webkit-transform: translate(0px, -10px); /* Safari */
  transform: translate(0px, -10px);
}

h1 {
  font-size: 8em;
  line-height: .8em;
  text-shadow: rgba(0, 0, 0, .1) 3px 3px 5px;
  -webkit-margin-after: 0px;
  -webkit-margin-before: 0px;
}

h2 {
  font-weight: 400;
  font-size: 1.8em;
  line-height: .2em;
  text-shadow: rgba(0, 0, 0, .2) 1px 1px 3px;
}

@-webkit-keyframes gradientShift {
  0%{background-position:24% 0%}
  50%{background-position:77% 100%}
  100%{background-position:24% 0%}
}
@-moz-keyframes gradientShift {
  0%{background-position:24% 0%}
  50%{background-position:77% 100%}
  100%{background-position:24% 0%}
}
@keyframes gradientShift { 
  0%{background-position:24% 0%}
  50%{background-position:77% 100%}
  100%{background-position:24% 0%}
}
